<style>
  .app-button {
    width: 100%;
    height: 100%;
  }
  .app-button .el-button {
    width: 100%;
    height: 100%;
  }
</style>

<div class="app-button" id="<%= id %>">
  <el-button  
    :type="setting.config.type.value"
    :plain="setting.config.plain.value"
    :round="setting.config.round.value"
    :circle="setting.config.circle.value"
    :loading="setting.config.loading.value"
    :disabled="setting.config.disabled.value"
    :icon="setting.config.icon.value"
    :native-type="setting.config['native-type'].value"
    :autofocus="setting.config.autofocus.value">
    <i class="icon iconfont" :class="'icon-' + setting.config.icon.value"></i>
    {{setting.config.text.value}}
    <i class="icon iconfont" :class="'icon-' + setting.config.icon.value"></i>
  </el-button>
</div>

<script>

    app.component["<%= id %>"] = new Vue({
      el: '#<%= id %>',
      data: {
        setting: {
          id: "<%= id %>",
          name: '<%= name %>',
          template: '<%= template %>',
          config: <% include config.json %>,
          style: <% include style.json %>,
          animate: <% include animate.json %>,
          event: <% include event.json %>,
          api: <% include api.json %>,
        }
      },
      methods: {

      }
    });

</script>
